

<!-- Button trigger modal -->
<div type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Request to Rent
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Request to Rent</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "requests/form", request: new_request %>
      </div>

    </div>
  </div>
</div>
