<h1> Respond to Rent Requests </h1>

<div>
  <a href="/accept"> <button> Accept </button </a> | <a href="/reject"> <button> Reject </button </a>  
</div>     

<br>

<div>
  <%= link_to "Show this request", @request %>
</div>
