<%= render "/layouts/header" %>


<div class="container">
  <% if notice %>
    <div class="position-relative alert alert-warning alert-dismissible fade show text-left" role="alert">
      <%= notice %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  
  <div id="games" class="row row-cols-1 row-cols-md-3 g-4">

    <% @games.each do |game| %>
      <%= render game %>
    <% end %>

  </div>
</div>
