<p style="color: green"><%= notice %></p>

<h1>Receipts</h1>

<div id="receipts">
  <% @receipts.each do |receipt| %>
	<% if receipt.name == session[:account_id] %>
   		 <%= render receipt %>
    		 <p>
     			 <%= link_to "Show this receipt", receipt %>
   		 </p>
	<% end %>
  <% end %>
</div>

