<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
			<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="93.000000pt" height="59.750000pt" class="bi me-2" viewBox="0 0 1500 500">
			<g transform="translate(0.000000,478.000000) scale(0.100000,-0.100000)" fill="#1c1c1c" stroke="none">
			<path d="M1625 4766 c-85 -20 -147 -57 -216 -125 -122 -122 -166 -275 -124 -436 33 -125 126 -240 242 -297 l63 -31 0 -418 0 -418 -60 -27 c-64 -29 -125 -87 -136 -129 -24 -95 73 -192 224 -224 233 -49 475 75 438 224 -11 42 -72 100 -136 129 l-60 27 0 417 0 417 68 32 c119 56 213 169 247 298 42 161 -2 313 -124 436 -119 118 -271 163 -426 125z"/>
			
			<path d="M1310 3656 c-31 -11 -985 -555 -1102 -628 -54 -34 -129 -111 -153 -157 -43 -84 -45 -126 -45 -972 0 -707 2 -812 16 -860 19 -64 60 -132 106 -175 39 -37 919 -553 1324 -777 139 -77 197 -92 318 -84 98 7 112 14 551 265 612 351 977 569 1016 607 21 21 54 67 72 104 l32 66 3 830 c3 870 2 903 -41 994 -39 83 -105 133 -392 298 -148 85 -401 231 -562 323 -160 92 -308 171 -327 174 -54 10 -100 -16 -127 -70 -25 -52 -21 -95 14 -136 12 -15 200 -129 417 -254 217 -124 406 -235 418 -247 55 -51 66 -113 32 -183 -25 -50 -28 -52 -357 -248 -669 -397 -723 -426 -793 -426 -56 0 -98 20 -330 155 -496 289 -769 456 -797 489 -54 61 -53 154 3 207 13 13 206 127 427 254 422 243 447 261 447 327 0 47 -37 108 -75 124 -41 17 -50 17 -95 0z m-286 -1477 c424 -247 542 -320 555 -344 14 -27 16 -94 16 -667 0 -627 0 -637 -21 -664 -53 -71 -125 -86 -218 -45 -83 36 -1023 581 -1050 608 -14 14 -30 42 -36 62 -6 22 -10 268 -10 649 0 520 2 617 15 641 8 17 36 40 67 56 97 49 79 56 682 -296z m2092 297 c91 -42 84 13 84 -701 0 -722 4 -685 -86 -742 -27 -17 -262 -153 -522 -302 -312 -179 -492 -276 -527 -286 -87 -22 -153 6 -186 78 -18 40 -19 75 -19 629 0 374 4 605 11 636 6 31 20 58 37 74 23 21 951 568 1052 620 47 24 95 22 156 -6z"/>
			
			<path d="M818 1969 c-16 -9 -18 -27 -18 -140 l0 -131 -94 51 c-151 81 -176 70 -176 -81 0 -78 3 -98 18 -110 9 -8 70 -44 135 -79 l117 -64 0 -156 c0 -149 1 -156 23 -176 33 -31 143 -83 175 -83 47 0 52 13 52 152 0 70 2 128 5 128 3 0 45 -22 93 -49 111 -62 127 -67 157 -47 24 16 25 21 25 114 0 63 -5 104 -13 115 -6 10 -68 48 -137 85 l-125 68 -2 140 c-2 76 -5 148 -8 160 -6 27 -144 114 -181 114 -16 0 -37 -5 -46 -11z"/>
			
			<path d="M2533 1929 c-17 -5 -52 -29 -76 -54 -84 -84 -112 -191 -62 -240 30 -30 56 -31 111 -4 79 38 144 135 146 215 1 71 -47 104 -119 83z"/>
			<path d="M2797 1780 c-105 -66 -160 -228 -94 -275 70 -49 203 40 245 164 17 50 15 85 -9 115 -29 37 -80 35 -142 -4z"/>
			<path d="M2222 1453 c-80 -39 -163 -176 -147 -241 29 -116 186 -67 260 81 61 123 -3 214 -113 160z"/>
			<path d="M2546 1335 c-81 -29 -166 -144 -166 -225 0 -49 35 -90 75 -90 90 0 207 134 207 238 0 72 -46 102 -116 77z"/>
			
			<path d="M3869 2902 l-39 -39 0 -476 0 -475 39 -41 c38 -39 42 -41 101 -41 34 0 67 6 76 13 39 32 55 54 64 86 6 21 10 186 10 384 l0 348 186 -3 c170 -3 187 -5 200 -22 18 -25 18 -57 0 -81 -11 -15 -32 -19 -132 -25 -132 -6 -163 -18 -185 -72 -16 -40 -15 -84 4 -128 21 -50 349 -453 381 -468 14 -6 26 -16 26 -22 0 -6 26 -10 61 -10 55 0 64 3 96 33 24 24 37 47 43 76 14 78 0 106 -106 212 l-97 97 41 11 c28 8 53 26 81 58 56 63 81 146 81 267 0 83 -3 99 -30 153 -37 74 -112 146 -186 179 -54 24 -58 24 -365 24 l-311 0 -39 -38z"/>
			
			<path d="M4982 2912 c-17 -16 -34 -40 -37 -53 -3 -13 -4 -234 -3 -492 l3 -468 37 -34 37 -35 405 0 c223 0 406 3 406 8 0 4 13 15 29 24 52 29 65 142 25 203 -32 49 -71 55 -379 55 l-285 0 0 270 0 270 293 0 c258 0 296 2 327 18 62 30 88 120 56 195 -28 68 -20 67 -475 67 l-409 0 -30 -28z"/>
			
			<path d="M6099 2920 c-20 -10 -41 -32 -48 -47 -8 -21 -11 -157 -9 -502 l3 -473 30 -24 c17 -14 35 -29 42 -34 7 -6 40 -10 73 -10 54 0 65 3 93 30 l32 30 3 255 c2 140 6 255 10 255 4 -1 32 -33 62 -72 186 -241 337 -428 371 -460 38 -36 44 -38 104 -38 36 0 65 4 65 9 0 5 9 13 21 16 11 4 29 21 40 38 18 30 19 55 19 492 0 345 -3 466 -13 484 -22 43 -62 65 -131 69 -59 4 -66 2 -97 -26 l-34 -30 -5 -255 -5 -256 -65 82 c-35 45 -96 123 -135 172 -39 50 -104 131 -143 182 -40 51 -88 101 -106 112 -43 27 -127 27 -177 1z"/>
			
			<path d="M7190 2912 c-30 -26 -34 -35 -38 -92 -4 -48 0 -71 13 -96 28 -52 65 -64 204 -64 l121 0 0 -360 c0 -389 2 -403 54 -447 21 -19 38 -23 88 -23 59 0 63 2 100 41 l38 41 0 374 0 374 123 0 c96 0 129 4 157 18 64 31 89 125 54 198 -31 64 -30 64 -476 64 l-404 0 -34 -28z"/>
			
			<path d="M8859 2920 c-20 -10 -41 -32 -48 -47 -8 -21 -11 -157 -9 -502 l3 -473 30 -24 c17 -14 35 -29 42 -34 7 -6 40 -10 73 -10 54 0 65 3 93 30 l32 30 3 255 c2 140 6 255 10 255 4 -1 88 -105 187 -231 212 -272 252 -319 271 -319 8 0 14 -4 14 -10 0 -13 117 -13 133 0 7 5 26 20 42 34 l30 24 3 474 c1 366 -1 479 -11 498 -22 44 -73 70 -138 70 -51 0 -63 -4 -91 -29 l-33 -29 -5 -257 -5 -257 -100 128 c-259 335 -323 411 -358 427 -46 22 -123 21 -168 -3z"/>
			
			<path d="M9959 2911 l-29 -29 0 -131 c0 -120 2 -132 23 -156 27 -32 92 -44 138 -25 45 19 59 61 59 180 0 153 -22 190 -115 190 -38 0 -52 -5 -76 -29z"/>
			
			<path d="M10786 2918 c-55 -41 -56 -48 -56 -533 0 -485 -1 -479 57 -532 20 -19 35 -23 89 -23 35 0 64 4 64 9 0 5 9 13 21 16 11 4 29 26 40 48 17 39 19 71 19 400 l0 358 186 -3 c172 -3 187 -4 200 -23 22 -30 14 -77 -16 -92 -15 -8 -64 -13 -118 -13 -113 0 -158 -17 -178 -66 -18 -44 -18 -118 1 -154 27 -53 61 -62 214 -58 125 3 141 5 193 31 76 37 160 129 184 199 23 69 23 159 0 226 -25 74 -109 163 -191 202 l-63 30 -308 0 c-300 -1 -310 -1 -338 -22z"/>
			
			<path d="M11888 2917 c-15 -12 -32 -35 -37 -50 -7 -19 -11 -186 -11 -483 0 -491 -1 -484 54 -531 l26 -23 405 0 c223 0 405 4 405 8 0 5 11 14 26 20 54 25 71 151 27 210 -34 46 -66 50 -375 51 l-288 1 0 364 c0 213 -4 375 -10 390 -15 42 -66 66 -135 66 -47 -1 -66 -6 -87 -23z"/>
			
			<path d="M13411 2913 c-26 -21 -70 -101 -210 -382 -232 -468 -264 -540 -255 -586 6 -32 32 -67 77 -102 12 -10 123 -13 477 -13 253 0 460 3 460 8 0 4 14 15 30 24 37 21 64 80 57 123 -6 38 -56 144 -263 560 -188 378 -201 395 -286 395 -42 0 -60 -6 -87 -27z m180 -611 l85 -177 -87 -3 c-48 -1 -130 -1 -182 0 l-94 3 90 182 c50 101 93 180 96 177 3 -3 45 -85 92 -182z"/>
			
			<path d="M13951 2924 c-65 -46 -66 -165 -1 -232 12 -12 84 -98 161 -189 l139 -167 0 -203 c0 -219 3 -237 54 -280 21 -18 38 -23 86 -23 33 0 60 4 60 8 0 5 11 15 24 22 47 25 56 72 56 286 l0 195 148 170 c211 243 202 230 202 304 0 56 -3 67 -29 94 -28 30 -33 31 -108 31 -92 0 -81 9 -248 -190 -53 -63 -100 -115 -104 -115 -4 0 -45 45 -91 100 -45 55 -105 124 -133 153 l-51 52 -71 0 c-49 0 -78 -5 -94 -16z"/>
			
			<path d="M5350 2512 c-87 -43 -94 -203 -11 -246 42 -22 398 -23 440 -1 56 29 78 126 43 195 -30 61 -63 70 -262 70 -147 0 -181 -3 -210 -18z"/>
			</g></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/games" class="nav-link px-2 link-secondary">Games</a></li>
		  <%= link_to "+", new_game_path, class: "btn btn-secondary" %>

        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" method="GET" action="/search">
          <input type="search" name="query" class="form-control" placeholder="Search.." aria-label="Search">
        </form>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
			<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-circle" width="24" height="24" class="rounded-circle" viewBox="0 0 16 16">
				<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
				<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
			</svg>
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="/accounts/<%= session[:account_id] %>">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
