<h1>Editing account</h1>

<%= render "form", account: @account %>

<br>

<div>
  <a href="/accounts/<%= session[:account_id] %>"><button>Back to Profile</button></a> |
  <% if session[:is_admin] == 0 then %>
    <%= link_to "Back to accounts", accounts_path %>
  <% end %>
</div>
