<h1>New account</h1>

<%= render "form", account: @account %>

<br>

<div>
  <% if session[:is_admin] == 0 then %>
    <%= link_to "Back to accounts", accounts_path %>
  <% end %>
  <a href="/login"><button>Login</button></a>
</div>
