<p style="color: green"><%= notice %></p>

<%= render @account %>

<div>
 
  <% if session[:is_admin] == 0 then %>
    <a href="/accounts"><button>Back to Accounts</button></a>
    <%= button_to "Destroy this account", @account, method: :delete %>
  <% end %>
</div>
